// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app-title {
    font-styles: oblique;
}

.top-title {
    font-style: oblique;
    font-weight: bolder;
}

.jumbotron .login-ban {
    color: #fff;
    background-color: #8ba8c1;
    border-color: #2e6da4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 6px;
}

.jumbotron .login-ban2 {
    color: #fff;
    background-color: #8ba8c1;
    border-color: #2e6da4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 6px;
    width: 60%;
}